.container div {
    /* width: 30px;
    height: 30px; */
    aspect-ratio: 1 / 1;
    outline-style: solid;
}

.container {
    /* max-width: 60%; */
}

.flex {
    display: flex;
}

.button {
    width: 100px;
}


