#container {
    height: 80vh;
    width: 40vw;
    border-style: solid;
    display: grid;
    border: 0;
}

div {
    border-style: solid;
}

body {
    display: flex;
}

.button {
    border-style: none;
    width: 100px;
}