#container {
    height: 600px;
    width: 600px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    border: 0;
}

div {
    width: 5%;
    border-style: solid;
}

body {
    display: flex;
}

.button {
    border-style: none;
    width: 100px;
}